<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="DatabaseType" value="SQLite" />
    <add key="DataSource" value="D:\EIQ_APPS\BT_GS_TEST.db"/>
    <!-- File Path goes here-->
    <add key="Host" value="null"/>
    <add key="Port" value="0"/>
    <add key="Username" value="null"/>
    <add key="Password" value="null"/>
    <add key="Timeout" value="30"/>
    <add key="MinPoolSize" value="1"/>
    <add key="MaxPoolSize" value="5"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>