<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="NGCCConfiguration" type="ethosIQ_NGCC_Shared.Configuration.NGCCConfigurationSection, ethosIQ-NGCC-Shared"/>
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="DatabaseType" value="SQLite" />
    <add key="DataSource" value="D:\EIQ_APPS\BT_GS_TEST.db"/>
    <add key="Host" value="null"/>
    <add key="Port" value="0"/>
    <add key="Username" value="null"/>
    <add key="Password" value="null"/>
    <add key="Timeout" value="30"/>
    <add key="MinPoolSize" value="1"/>
    <add key="MaxPoolSize" value="5"/>
  </appSettings>

  <NGCCConfiguration>
    <NGCCSources>
      <NGCCSource Name = "Test" IPAddress ="127.0.0.1" Port="8521" TenantID="Test" Username="Test" Password="Test" RealTimeEnabled="true" RealTimeIPAddress ="127.0.0.1" RealTimePort="8522" />
    </NGCCSources>
  </NGCCConfiguration>
  
  
  
  
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>