<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWFMRealTime" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.154.108.71:6999/WFMRealTime" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWFMRealTime" contract="WFMRealTime.IWFMRealTime"
                name="BasicHttpBinding_IWFMRealTime" />
        </client>
    </system.serviceModel>
</configuration>